/*navigation bar stuff*/

.naviBar {
  font-size: 24px;
  background: black;
}

.naviBar ul.navbar-nav li a {
  background: black;
  color: grey;
}

.naviBar ul.navbar-nav li a:hover {
  color: limegreen;
}

.naviBar .navbar-brand {
  background: black;
  color: black;
}


/*page one*/

.pageOne {
  background: url('https://i.ibb.co/3MFHvMJ/pexels-photo-3377405.jpg') center fixed;
  text-align: center;
  padding-top: 175px;
  background-size: cover;
  height: 900px;
}

.pageOneHeader {
  font-family: 'Satisfy', cursive;
  color: blue;
  font-size: 48px;
}

.pageOneText {
  color: silver;
  font-size: 34px;
}

.pageOne .btnrg {
  color: limegreen;
  background-color: black;
  border-radius: 50%;
  border-style: solid;
}

/* pagetwo*/

.pageTwo {
  background: url("https://i.ibb.co/3MFHvMJ/pexels-photo-3377405.jpg") center fixed;
  padding-top: 100px;
  background-size: cover;
  height: 900px;
}

.img-circle {
  border-radius: 50%;
  padding: 100px;
}

.bio .colOne {
  font-size: 20px;
}

.bio h1 {
  Color: Red;
}

.bio p {
  color: darkgreen;
}


/*pagethree*/

.pageThree {
  background: url("https://i.ibb.co/3MFHvMJ/pexels-photo-3377405.jpg") center fixed;
  background-size: cover;
  height: auto;
  padding-top: 75px;
}

.ProjectTitle {
  color: blue;
}

.pageThree .mainText {
  color: fuchsia;
}
/*pagefour*/
.pageFour{
  background: url("https://i.ibb.co/3MFHvMJ/pexels-photo-3377405.jpg") center fixed;
  height: 900px;
  background-size: cover;
  padding-top:75px;
}
.pageFour h1{color: silver;
padding: 75px;}
.pageFour .btnlist{background: black;
color: limegreen;
border-style: solid;}
.pageFour .btnlist:hover{
color:black;
background:silver;}
